body {
    font-family: 'Poppins', sans-serif;
}

.img-canter {
    bottom: initial;
    top: 50%;
    transform: translateY(-41%);
}


/* media query in css */
@media screen and (max-width: 576px) {
    .text-size {
        font-size: 20px;
    }

    .course-img>img {
        width: 100%;
    }

    .align-text {
        text-align: center;
    }

    .d-n {
        display: none;
    }

    .p-text {
        font-size: 10px;
    }
}